@import url("https://fonts.googleapis.com/css?family=Lustria");

body {
  background: url('images/gabriela-parra-6601511.jpg') no-repeat center center;
  background-size: cover;
  font-family: Lustria;
  color: black;
  padding: 2%;
}
a {
	color: black;
	transition: all 0.3s;
	font-size: 17px;
}
a:hover {
    color: aliceblue;
    background: steelblue;
}
.wrapper a:hover, .intro a:hover {
    color: aliceblue;
    background: lightskyblue;
}
h1 {
  font-size: 3em;
  text-transform: uppercase; 
}
h2 {
  font-size: 30px;
}
h3{
	border-bottom: 1px solid black;
	text-transform: uppercase;
}
.main.supporting p,.preamble p, li{
	line-height: 2em;
	font-size: 17px;
}
.page-wrapper{
	width: 100%;
}

.intro {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 3.33%;
	justify-items: stretch;
	align-items: stretch;
	background: aliceblue;
	opacity: 0.7;
	border-radius: 10px 10px 0 0;
}
header{
	grid-column: 1/3;
	grid-row: 1;
	border-left: 0.4em solid steelblue;
	padding-left: 5%;
	text-shadow: 1px 2px 2px #000;
	margin-left: 10%;
}
.summary {
	grid-column: 2/5;
	grid-row: 2;
	font-size: 1em;
	border-radius: 10px 10px 0 0;
	padding: 0 3.33% 0 10px;
	margin-top: 15%;
}
.preamble{
	grid-column: 1/6;
	grid-row: 3;
	padding: 6.666667%;
	animation-duration: 4s;
  	animation-name: slidein;
  	margin-left: auto;
  	margin-right: auto;
  	background: steelblue;
}
.main.supporting{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 3.33%;
	justify-items: stretch;
	align-items: stretch;
	background: aliceblue;
	opacity: 0.7;
	padding-top: 40px;
}
.explanation{
	grid-column: 2/3;
	grid-row: 1;
}
.participation{
	grid-column: 2/3;
	grid-row: 2;
}
.benefits{
	grid-column: 2/3;
	grid-row: 3;
}
.requirements{
	grid-column: 2/3;
	grid-row: 4;
}
footer{
	grid-column: 2/3;
	grid-row: 5;
	background: steelblue;
	text-align: center;
	word-spacing: 4em;
	padding-top: 2em;
	border-radius: 10px 10px 0 0;
}
footer:hover{
	background: lightskyblue;
	transform: scaleX(1.1);
}

.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 1em;
	justify-items: stretch;
	align-items: stretch;
	background: lightskyblue;
	opacity: 0.7;
	border-radius: 0 0 10px 10px;
}
.wrapper h3{
	text-align: center;
}
.design-selection{
	grid-column: 2/3;
	grid-row: 1;
	padding: 3.33%;
}
.design-archives{
	grid-column: 3/4;
	grid-row: 1;
	padding: 3.33%;
}
.zen-resources{
	grid-column: 4/5;
	grid-row: 1;
	padding: 3.33%;
}
.design-selection:hover, .design-archives:hover, .zen-resources:hover{
	background: steelblue;
	transform: scaleX(1.1);
}
.design-selection:hover, .design-archives:hover, .zen-resources:hover{
	background: steelblue;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.extra1 {
	background-image: url('images/moonnn.png');
	background-repeat: no-repeat;
	top: 0;
	right: 0;
	width: 680px;
	height: 680px;
	position: absolute;
	opacity: 0.2;
	background-position: center;
	background-size: cover;
}
.extra1:hover{
	background: url('images/moonn.png');
	top: 0;
	right: 0;
	width: 680px;
	height: 680px;
	position: absolute;
	opacity: 0.2;
	background-position: center;
}
.extra2 {
	background: url('images/bird.png') repeat-x;
	animation: animate-bird linear 4s infinite;
	background-size: 400px;
	top: 20px;
	right: 100px;
	width: 800px;
	height: 220px;
	position: absolute;

	transform: translate(20px, 30px);
	opacity: 0.4;
}

@keyframes animate-bird{
	from{background-position: 0px;}
	to {background-position: -500px;}
}
.extra3 {
	background-image: url('images/2-2-galaxy-transparent.png');
	background-size: 800px;
	opacity: 0.7;
	top: 1700px;
	right: 0px;
	width: 700px;
	height: 700px;
	position: absolute;
	background-position: center;
	overflow: hidden;
}

@media only screen and (max-width: 800px){
	.wrapper {
	
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 1em;
		justify-items: stretch;
		align-items: stretch;
		background: lightskyblue;
		opacity: 0.7;
		border-radius: 0 0 10px 10px;
		font-size: 10px
	}
	.wrapper h3 {
		text-align: center;
	}
	.design-selection{
		grid-column: 1;
		grid-row: 1;
		padding: 3.33%;
	}
	.design-archives{
		grid-column: 1;
		grid-row: 2;
		padding: 3.33%;
	}
	.zen-resources{
		grid-column: 1;
		grid-row: 3;
		padding: 3.33%;
	}
	.design-selection:hover, .design-archives:hover, .zen-resources:hover{
		background: steelblue;
	}
	.main.supporting{
		padding: 1px 1px 0 1px;
	}
}